.search-todo {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 400px;
  gap: 12px;
  border: 2px solid black;
  padding: 16px 20px;
  border-radius: 31px;
  align-self: center;
  
  box-shadow:  3px 3px lightgray inset;
}

.search-todo input {
  flex-basis: 90%;
  font-family: 'Montserrat';
}

.app-icon {
  height: 24px;
}

input {
  font-size: 20px;
  border: none;
  outline: none;
  font-weight: bold;
}

::placeholder {
  font-style: italic;
  font-family: 'Montserrat';
}